stages:
  - build
  - push

variables:
  DOCKER_IMAGE: alaej/travelo-frontend

build:
  stage: build
  image: docker:24-cli
  services:
    - docker:24-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: "/certs"
  script:
    - docker build -t $DOCKER_IMAGE:$CI_COMMIT_SHORT_SHA .
    - docker build -t $DOCKER_IMAGE:latest .
    - docker save $DOCKER_IMAGE:$CI_COMMIT_SHORT_SHA -o frontend-image.tar
  artifacts:
    paths:
      - frontend-image.tar
    expire_in: 1 hour
  only:
    - main

push:
  stage: push
  image: docker:24-cli
  services:
    - docker:24-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_TOKEN
  script:
    - docker load -i frontend-image.tar
    - docker tag $DOCKER_IMAGE:$CI_COMMIT_SHORT_SHA $DOCKER_IMAGE:latest
    - docker push $DOCKER_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker push $DOCKER_IMAGE:latest
  dependencies:
    - build
  only:
    - main
