name: Frontend CI Pipeline

on:
  push:
    branches: ["main"]
    tags:
      - "v*"
  pull_request:
    branches: ["main"]

jobs:
  build:
    # Only build on main branch or version tags
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v')
    uses: Alae-J/travelo-ci-templates/.github/workflows/docker-build.yml@main
    with:
      image-name: alaej/travelo-frontend
      artifact-name: frontend-image
      enable-cache: true
      cache-key-file: package-lock.json

  push:
    needs: build
    uses: Alae-J/travelo-ci-templates/.github/workflows/docker-push.yml@main
    with:
      image-name: alaej/travelo-frontend
      artifact-name: frontend-image
      support-version-tags: true
    secrets:
      dockerhub-username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub-token: ${{ secrets.DOCKERHUB_TOKEN }}

  GitOps-k8s-deploy:
    needs: push
    if: github.ref == 'refs/heads/main'
    uses: Alae-J/travelo-ci-templates/.github/workflows/gitops-deploy.yml@main
    with:
      image-name: alaej/travelo-frontend
      yaml-file: frontend.yaml
      infra-repo: yassinelamsaaf/travelo-infra
      support-version-tags: true
    secrets:
      infra-token: ${{ secrets.INFRA_REPO_TOKEN }}
