name: Frontend CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t alaej/travelo-frontend:${{ github.sha }} .
          docker build -t alaej/travelo-frontend:latest .
          docker save alaej/travelo-frontend:${{ github.sha }} -o frontend-image.tar

      - name: Upload image artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend-image
          path: frontend-image.tar
          retention-days: 1

  push:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download image artifact
        uses: actions/download-artifact@v4
        with:
          name: frontend-image

      - name: Load Docker image
        run: docker load -i frontend-image.tar

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Tag and push Docker image
        run: |
          docker tag alaej/travelo-frontend:${{ github.sha }} alaej/travelo-frontend:latest
          docker push alaej/travelo-frontend:${{ github.sha }}
          docker push alaej/travelo-frontend:latest
